<header class="site-header">
  <nav>
    <div class="logo">
        <a href="/">
          <img class="logo img-fluid" src="/images/NET Lab Logo@3x.png" alt="NET Lab">
        </a>
    </div>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if page.url == my_page.url %}
              <li class="nav-item"><a class="nav-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
    </ul>
  </nav>
</header>
