---
layout: default
title: Articles
permalink: /articles/
---

<div class="articles">
    <div class="row row-cols-3">
        {% for article in site.data.articles %}
        {% assign index = forloop.index | modulo: 4 %}

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ article.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text"><small class="text-muted">{{ article.author }} • {{ article.date | date: "%B
                            %d,
                            %Y" }} </small></p>
                    <p class="card-text">{{ article.lead_text }}</p>
                    <a href="{{ article.link }}" class="btn btn-primary stretched-link">Read Article</a>
                </div>
            </div>

            {% if index == 1 %}
            <div class="space"></div>
            {% endif %}
        </div>


        {% endfor %}
    </div>

</div>
